:root {
    --main-bg-color: #EDFDF9;
    --main-text-color: #333;
    --main-link-color: #08f;
    --notMain-bg-color: #0C453F;
    --notMainButton-bg-color: #54C1A0;
    --table-border-color: #FFBF69;
    --mainButton-bg-color: #FF9F1C;
    --zigzag-bg-color: #CAFFF5; 
}

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: Arial, sans-serif;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: none !important;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--notMain-bg-color);
    padding: 1em;
}

header {
    a {
        background-color: var(--notMain-bg-color);
        color: white !important;
        border: none;
        border-radius: 5px 5px;
        cursor: pointer;
        width: 10em;
        height: 3em;
    }
    a:hover {
        background-color: var(--notMainButton-bg-color) !important;
    }
    nav{
        background-color: var(--notMain-bg-color) !important;
    }
    
    .carousel{
        max-height: 20em;
        max-width: 30em;
        margin: 0 auto;
    }
    .dropdown-menu{
        background-color: var(--notMain-bg-color);
    }
    ol{
        --bs-breadcrumb-divider-color: white !important;
    }
}

footer {
    padding: 1em;
    margin-top: auto;
    width: 100%;

    .lista{
        background-color: var(--notMain-bg-color);
        margin: 1em;
        a {
            background-color: var(--notMain-bg-color);
            color: white !important;
            border: none;
            border-radius: 5px 5px;
            cursor: pointer;
            width: 10em;
            height: 3em;
        }
        a:hover {
            background-color: var(--notMainButton-bg-color) !important;
        }
    }
}

main {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    flex: 1;
    width: 100%;
    padding: 4em;
    
}

.adapted{
    background-color: var( --zigzag-bg-color);
    border: 1px solid var( --notMainButton-bg-color);
    display: flex;
    flex-direction: column;
    max-width: 60em !important;
    img{
        min-height: 20em;
    }
}


.tam{
    max-width: 25em;
    display: inline-block;
    background-color: var( --zigzag-bg-color);
    border: 1px solid var( --notMainButton-bg-color);
}

#container{
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
}

.progress {
    margin: 1em;
}

.middle{
    width: 50%;
}
.nearFull{
    width: 75%;
}
.full{
    width: 100%;
}